
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #F9F9F9;
}

a {
  color: inherit;
  text-decoration: none;
}
button{
  cursor: pointer;
  text-decoration: none;
  box-shadow: none;
  border: none;
}

